.container-fluid#about
	div#menu-about

	.container.about-container
		.col-md-12.about-wrapper
			.row
				.col-md-4.image-wrapper
						img(src="assets/img/Joe.png")
				.col-md-8.text-wrapper
					h3 Hey, I'm Joe
					p.first
						| I've had a passion for Design since I was 10 years old, 
						| from then on I have studied in areas of Photography, Videography, 
						| Graphics and recently Web Design &amp; Development, I consider myself a 
						| perfectionist at heart, which helps when creating designs!
						| I've had experience designing websites a while prior to learning how to
						| code, and feel extensively undestanding the complications in design beforehand
						| has helped me to think differently about how I craft my websites.

					p(style="margin-bottom: 0;") 
						| I'm currently freelancing so if you're
						| interested in hiring me for a project or have any enquiries,
						| just shoot me an 
						a(href="mailto:contact@joemethven.com")  email 
						| and we can get talking!

	include stages
	include calltoaction
	include social