.container-fluid#calltoaction-wrapper
	.col-md-6
		.graphic
			.monitor
				#contents
					#websites
						#bad-website
							.bad-website-contents
								#bad-website-element-1
								#bad-website-element-2
								#bad-website-element-3
									.p-bar-1-1
									.p-bar-1-2
									.p-bar-1-3
								#bad-website-element-4
								#bad-website-element-5
								#bad-website-element-6
						#good-website
							.good-website-contents
								#good-website-element-1
								#good-website-element-2
								#good-website-element-3
								#good-website-element-4
								#good-website-element-5
									.p-bar-1-1
									.p-bar-1-2
									.p-bar-1-3
								#good-website-element-6
									.p-bar-2-1
									.p-bar-2-2
									.p-bar-2-3
								#good-website-element-7
									.p-bar-3-1
									.p-bar-3-2
									.p-bar-3-3
								#good-website-element-8
								#good-website-element-9
								#good-website-element-10
									.p-bar-4-1
									.p-bar-4-2
									.p-bar-4-3
								#good-website-element-11
					.icon
						.icon-contents
			.stand
				img(src="assets/img/stand.png")
	.col-md-6.action-content-wrapper
		.action-text.text
			h3 Do you need a new website?

			h3.last 
				| For a 
				strong quick turnaround time 
				| with an 
				strong absolute perfected design, 
				| use my services.
		.action-button
			a(href="#menu-contact" onclick="$('#menu-contact').animatescroll({scrollSpeed:2000,easing:'easeInQuad'}); $('#contact').addClass('current')").button
				h2 CONTACT