title
	block title
meta(charset="utf-8")
meta(
	name="viewport"
	content="width=device-width, initial-scale=1.0"
	)
meta(
	name="Description"
	content="The Personal Website of Joe Methven: Design Enthusiast"
	)
link(rel="icon" href="assets/img/favicon.png")
link(rel="apple-touch-icon-precomposed" href="assets/img/appleFavicon.png")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
link(rel="stylesheet", href="bower_components/normalize-css/normalize.css", type="text/css")
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", type="text/css")
link(href="css/main.css", media="screen, projection", rel="stylesheet", type="text/css")