#footer-wrapper
	.left
		p © 2015 Joe Methven. All Rights Reserved.
		p For enquiries email 
			a(href="mailto: contact@joemethven.com") contact@joemethven.com
	.middle
		a(href="#home" onclick="$('#start').animatescroll({scrollSpeed:2000,easing:'easeInQuad'});")
			img(src="assets/img/logo-ext-bold.png")
	.right
		a(href="https://www.linkedin.com/profile/view?id=374907095&trk" target="_blank")
			img(src="assets/img/linkedin-white.png")
		a(href="http://twitter.com/joemethven" target="_blank")
			img(src="assets/img/twitter-white.png")
		a(href="https://github.com/joemethven" target="_blank")
			img(src="assets/img/github-white.png")
		a(href="http://behance.net/joemethven" target="_blank")
			img(src="assets/img/behance-white.png")