.container-fluid#home
	.text-wrapper
		h1 JOE METHVEN
		h3 WEB &amp; UI/UX Designer
	.triangle-container
		a(href="#", class="triangle", data-in="photo")
			img(src="assets/img/desk_illustration.png")
