.container-fluid#learning

	.container.learning-container
		.col-md-12.learning-wrapper
			.row
				.col-md-12
					.current-container.content
						h3 What do I normally use in my projects?
						p
							| I'm always learning new languages and methods to improve
							| my work, but here's what I currently use in my projects:

						.skills.first
							h2 HTML5
							h2 JADE
							h2 CSS3
							h2 SASS
							h2 JAVASCRIPT
							h2 JQUERY

				.col-md-12
					.learning-container.content
						h3 What languages/frameworks am I planning to learn in the future?
						p
							| There's so much to learn in web, on a grander scale I have plans on what I may learn in the future, including:

						.skills
							h2 MYSQL
							h2 NODE.JS
							h2 ANGULAR.JS