.container-fluid#home
	.fadepoint1
	.fadepoint2
	.fadepoint3
	.fadepoint4
	.website-container
		#website1.website
			img(src="assets/img/website1.png", alt="Booket Design by Joe Methven")
		#website2.website
			img(src="assets/img/website2.png", alt="Lake Country Ministry Design by Joe Methven")
		#website3.website
			img(src="assets/img/website3.png", alt="JRH Civils Design by Joe Methven")
		#website4.website
			img(src="assets/img/website4.png", alt="JRH Civils Design by Joe Methven")
	.container
		.text-wrapper
			.row
				h1 JOE METHVEN
			.row
				p WEB/UI DESIGNER