.container-fluid#portfolio
	div#menu-portfolio

	.portfolio-container.col-md-12
		.row.row1
			.col-md-3.portfolio-item#portfolio-item1
				img(src="assets/img/craftguard.png", alt="Craft Guard Graphic Design, CMS Styling and Content Creation")
				img(src="assets/img/craftguard-active.png")
			.col-md-3.portfolio-item#portfolio-item2
				img(src="assets/img/booket.png", alt="Booket Website Design")
				img(src="assets/img/booket-active.png")
			.col-md-3.portfolio-item#portfolio-item3
				img(src="assets/img/chromahills.png", alt="Chroma Hills Icon and Website Design")
				img(src="assets/img/chromahills-active.png")
			.col-md-3.portfolio-item#portfolio-item4
				img(src="assets/img/jrh.png", alt="JRH Civil Engineering Website, Logo and Business Card Design")
				img(src="assets/img/jrh-active.png")
		.row.row2
			.col-md-3.portfolio-item#portfolio-item5
				img(src="assets/img/lfcwa.png", alt="Liverpool Football Club West Australia Supporters Graphic Design")
				img(src="assets/img/lfcwa-active.png")
			.col-md-3.portfolio-item#portfolio-item6
				img(src="assets/img/lakeCountry.png", alt="Lake Country Website")
				img(src="assets/img/lakeCountry-active.png")
			.col-md-3.portfolio-item#portfolio-item7
				img(src="assets/img/bcha.png", alt="BCHA Summer Garden Party Poster Design")
				img(src="assets/img/bcha-active.png")
			.col-md-3.portfolio-item#portfolio-item8
				img(src="assets/img/starwars.png", alt="Star Wars Film Poster Design")
				img(src="assets/img/starwars-active.png")

include portfolio_items/item1
include portfolio_items/item2
include portfolio_items/item3
include portfolio_items/item4
include portfolio_items/item5
include portfolio_items/item6
include portfolio_items/item7
include portfolio_items/item8
include learning