.container-fluid#portfolio
	div#menu-portfolio

	.portfolio-container.col-md-12
		.row.row1
			.col-md-3.portfolio-item#portfolio-item1
				img(src="assets/img/craftguard.png")
				img(src="assets/img/craftguard-active.png")
			.col-md-3.portfolio-item#portfolio-item2
				img(src="assets/img/booket.png")
				img(src="assets/img/booket-active.png")
			.col-md-3.portfolio-item#portfolio-item3
				img(src="assets/img/chromahills.png")
				img(src="assets/img/chromahills-active.png")
			.col-md-3.portfolio-item#portfolio-item4
				img(src="assets/img/jrh.png")
				img(src="assets/img/jrh-active.png")
		.row.row2
			.col-md-3.portfolio-item#portfolio-item5
				img(src="assets/img/lfcwa.png")
				img(src="assets/img/lfcwa-active.png")
			.col-md-3.portfolio-item#portfolio-item6
				img(src="assets/img/lakeCountry.png")
				img(src="assets/img/lakeCountry-active.png")
			.col-md-3.portfolio-item#portfolio-item7
				img(src="assets/img/bcha.png")
				img(src="assets/img/bcha-active.png")
			.col-md-3.portfolio-item#portfolio-item8
				img(src="assets/img/starwars.png")
				img(src="assets/img/starwars-active.png")

include portfolio_items/item1
include portfolio_items/item2
include portfolio_items/item3
include portfolio_items/item4
include portfolio_items/item5
include portfolio_items/item6
include portfolio_items/item7
include portfolio_items/item8
include learning