script(src="//code.jquery.com/jquery-1.11.3.min.js", type="text/javascript")
script(src="bower_components/jqueryui/jquery-ui.min.js", type="text/javascript")
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
script(src="assets/scripts/min/custom-min.js", type="text/javascript")
script(src="assets/scripts/vendors/animatescroll/animatescroll.min.js", type="text/javascript")
script(src="bower_components/bootstrap/dist/js/bootstrap.js")
script(src="//raw.githubusercontent.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js")