.container-fluid#social-bar
	a(href="https://www.linkedin.com/profile/view?id=374907095&trk" target="_blank")
		img(src="assets/img/linkedin.png")
	a(href="http://twitter.com/joemethven" target="_blank")
		img(src="assets/img/twitter.png")
	a(href="https://github.com/joemethven" target="_blank")
		img(src="assets/img/github.png")
	a(href="http://behance.net/joemethven" target="_blank")
		img(src="assets/img/behance.png")