.row.stages-wrapper
	.col-md-4.stage-1
		.overlay-1.overlay
			h2 STAGE ONE - CONCEPT
			.line
			h3.toph COMMUNICATE
			p  
				| The first step to getting your website off the ground is to
				| get some firm details on what exactly is needed, this is best
				| done in a brief. A brief should contain specific details such as
				| amount of pages, branding, a current website if viable, and more!
			
			h3 PLAN
			p
				| Once the details are over I can start thinking of ways to bring your
				| ideas to life, if your brief is vague I can help give ideas for the
				| particular obstacles you could be facing visually.
				

		.content
			i.fa.fa-comment-o
			h3 CONCEPT
	.col-md-4.stage-2
		.overlay-2.overlay
			h2 STAGE TWO - CONSTRUCT
			.line
			h3.toph VISUALISE
			p
				| Once all information needed has been sent over and discussed its likely I'll 
				| need to create a visual overview of the scope involved, this could be in the form of
				| small sketches, a full-fledged wireframe or a colourful Photoshop Document.
				| This will help you view what could be your website, from here we start seeing the process
				| slowly coming to life! You can then have the chance to adjust changes on a large scale before 
				| things get directly implemented.
			
			h3 FINALIZE
			p
				| Now things are pretty much settled we can finalize all the different parts of the website and any
				| strict orders on what should and what shouldn't be in the final developed version.

		.content
			i.fa.fa-connectdevelop
			h3 CONSTRUCT
	.col-md-4.stage-3
		.overlay-3.overlay
			h2 STAGE THREE - COMMUNICATE
			.line
			h3.toph DEVELOP
			p
				| We're finally at the stage where your website gets coded, the languages being
				| used is specified below, however if your website is bearing lots of functionality
				| you'll also need a Back-End Web Developer, or possibly a Content Management System such as Wordpress.
			
			h3 REVISIONS
			p
				| Now its all done! I'll allow a few minor revisions free of charge, so as not to have you stranded with
				| things you decided you now don't want.

		.content
			i.fa.fa-code
			h3 CREATE