#portfolioItem3.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/portfolioClose.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/chromahills/logo.png")
		.portfolioContainer3.col-md-12
			.header
				img(src="assets/img/chromahills/preview.png")

			.content.row
				.col-md-6.image
				.col-md-6.info
					p
						strong What did I do? 
						span(style="font-style: italic") Icon Design, Website Design
						br
						br
						| Chroma Hills is a fun RPG texture pack created by the Graphic Artist 
						a(href="http://chromahills.com")
							| SycloneSJS,
						|  Chroma Hills has received over 2 million downloads, its also expanded 
						| to a gaming server for the fans and others to join and play together. 
						br
						br
						| For the Chroma Hills website I needed to design in a way that would
						| resemble a clean colourful website yet still have a gaming-feel to it, to
						| achieve this I used a main trio of colours to give an enhanced mocha look which
						| reflected the texture artwork that has base designs such as dirt and grass. 
						| I had also created a small icon in both detail and simplistic forms.

			.website
				img(src="assets/img/chromahills/website.jpg")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")