#portfolioItem5.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/lfcwa/Logo.png")
		.portfolioContainer5.col-md-12
			.header
				.image
					img(src="assets/img/lfcwa/header.png")
					img.imageMobile(src="assets/img/lfcwa/headerMobile.png")

			.row.content
				.col-md-6.image
					img(src="assets/img/lfcwa/noInternet.png")
				.col-md-6.text
					p
						strong What did I do? 
						span(style="font-style: italic") Logo Design, Icon Design &amp; Mockups
					p
						| LFCWA is an Australian community of Liverpool FC supporters. I have designed them
						| two logos, one derived from their original version of a globe with circular text, and the other
						| a complete simplistic clean emblem which can be used on the app as well as in promotional material,
						| app launch icon etc. The flat icon takes the famous Liverpool logo and manipulates the bird's features
						| into a simpler model, I then clipped the whole design in a more rounded shield with less vertices than
						| the original to emphasise the simplistic values.
						br
						br
						| I then designed a icon for a warning "No Internet!" status, this creative process allowed me freedom to
						| design anything relevant to internet, such as hardware wiring, a process or electric of sorts connecting
						| to a football to resemble the app as a football-themed website.
						br
						br
						| Finally I designed various mockups to be used on the Google Play store, the app can be seen 
						a(href="https://play.google.com/store/apps/details?id=com.designerjuice.lfcwa")
							| here.
						| The mockups consisted of a Galaxy phone containing the designed application and various promotional text
						| with my logo design.

			.row.content2
				.image1
					img(src="assets/img/lfcwa/mockup.png")
				.image2
					img(src="assets/img/lfcwa/globe-logo.png")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")