#portfolioItem7.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/portfolioClose.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/bcha/header.jpg")
		.portfolioContainer7.col-md-12

			.row.content
				.col-md-6.text
					p
						strong What did I do? 
						span(style="font-style: italic") Poster Design
					p
						| A housing association within my home county asked me to design an advertisement for their yearly
						| summer garden party, the poster had to reflect on independence day so I had used the colour scheme
						| of the american flag to consistently apply this widespread across the design. I chose to desaturate
						| the original tones from the flag to reflect on the past.
						br
						br
						| I had used a different perspective in which the stripes of the flag gradually enlarged on each stripe,
						| I did this because I thought it would be good to show a different perspective rather than everything being a
						| top-down design. I then designed a minimalistic barbeque on a top-down perspective using flat tones matched with
						| the initial colouring, and applied variants of typefaces within as a title for BCHA. Below I had used a specific
						| typewriter-styled font which again attempts to reflect on the past.

						| Overall I think this poster turned out great and I thoroughly enjoyed the process.

				.col-md-6.image
					img(src="assets/img/bcha/invitation.jpg", alt="Poster Design by Joe Methven")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")