#portfolioItem6.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/lakecountry/logo.png")
		.portfolioContainer6.col-md-12
			.header
				img(src="assets/img/lakecountry/mobile.png")

			.row.content
				.col-md-6.text
					p
						strong What did I do? 
						span(style="font-style: italic") Logo Design &amp; Website Design.
					p
						| Lake Country is a Church community based in America, they needed a website to advertise themselves,
						| in which I provided this with a clean &amp; relaxing design with a mixture of gold and green.
						| Within this design I aimed to follow a subtle technique called material design by Google, based on
						| the flat design with light implementation of thin shadows to add depth to the website. This works
						| well, especially within the contact form's input fields.
						br
						br
						| The website includes a news feed and a calendar area to add important dates for the community to
						| keep updated. I also implemented social networks at the top as well as a dropdown area to list
						| contact information. I also designed the logo in a flat gold to match the website with a decorative
						| icon.
				.col-md-6.image

			.website
				img(src="assets/img/lakecountry/website.png")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")