#portfolioItem1.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/portfolioClose.png", onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/craftguardLogo.png")
		.portfolioContainer1.col-md-12
			.row
				.col-md-4.fullWebsite
					img(src="assets/img/craftguardFullWebsite.jpg")
				.col-md-8.overview
					h2 A COMMISSION BASED MANAGEMENT SERVICE
					h6 
						span What did I do? 
						| Web design, CMS, content creation, graphic design...
					p 
						| CraftGuard was a project I had collaborated on, the business itself revolves around 
						| self-employed members &amp; clients registering, putting a middle man in place to stop
						| the high volume of fraud taking place with freelance creatives. The members can become part of the 
						| service which involved them performing jobs for clients, in return a small commission 
						| fee goes to CraftGuard and the rest solely to the Member. For this general website I 
						| had the job of designing pages such as Home, About &amp; Rates through the CMS Wordpress. 
						| I picked a specific set of colours to be used throughout this and also designed a 
						| professional simplistic logo that matches. I chose to use a shield design to resemble
						| security that the business aims to provide. I also worked a little on content creation 
						| (especially on the home page), this involved learning more about CraftGuard and how they 
						| work in order to show users exactly what they want to see when they visit the website.

		.portfolioContainer2.col-md-12
			h4 ICON CREATION
			.row
				.col-md-3.first
					img(src="assets/img/craftguard/icon1.png")
				.col-md-3.first
					img(src="assets/img/craftguard/icon2.png")
				.col-md-3.second
					img(src="assets/img/craftguard/icon3.png")
				.col-md-3.second
					img(src="assets/img/craftguard/icon4.png")

			.row
				.col-md-3.first
					img(src="assets/img/craftguard/icon5.png")
				.col-md-3.first
					img(src="assets/img/craftguard/icon6.png")
				.col-md-3.second
					img(src="assets/img/craftguard/icon7.png")
				.col-md-3.second
					img(src="assets/img/craftguard/icon8.png")

		.portfolioContainer3.col-md-12
			.banner
				h4 ADMIN DASHBOARD
			.row.header
				.col-md-6.image
					img(src="assets/img/craftguard/dashboard1.png")
				.col-md-6.text
					h3 CLIENT MANAGEMENT DASHBOARD RESTYLE

			.content-wrapper
				.content-container
					.col-md-6.fullWebsite
						img(src="assets/img/craftguard/dashboard2.jpg")
						img(src="assets/img/craftguard/dashboard3.jpg")
					.col-md-6.text
						p 
							| After the website was complete I moved onto restyling an admin dashboard, the original 
							| used a dark colour scheme, so instead I chose to keep with consistency and have the same colour 
							| scheme throughout both the website and the dashboard. The dashboard serves the purpose of 
							| clients being able to login and track their progress of projects members within CraftGuard 
							| are working on, there are many other features to this dashboard as well such as a ticket 
							| system, extensive settings, report statistics and more. This restyle involved a lot of CSS 
							| styling to adjust areas and a little bit of HTML to move areas around and contain elements.

		.portfolioContainer4.col-md-12
			.content-container

				h3 EMAIL TEMPLATES
					i.fa.fa-envelope-o

				.text
					p 
						| My final work on Craft Guard was to design and develop responsive, professional 
						| email templates that can be re-used in various notifications, in total I created 
						| 6 templates. Below you can see 2 previews of these templates.

				h3 A FEW PREVIEWS
					i.fa.fa-caret-down

			.preview
				h4 WELCOME TEMPLATE
				img(src="assets/img/craftguard/welcome.jpg")

				h4.last VERIFIED TEMPLATE
				img(src="assets/img/craftguard/verified.jpg")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")