#portfolioItem4.portfolioItem.container-fluid

	.portfolioClose
		img(src="assets/img/portfolioClose.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")
	.portfolioWrapper
		.portfolioHeader
			img(src="assets/img/jrh/logo.png")
		.portfolioContainer4.col-md-12
			.header
				img(src="assets/img/jrh/preview.png")

			.row.content
				.col-md-6.image
					img(src="assets/img/jrh/tool.png")
				.col-md-6.text
					p
						strong What did I do? 
						span(style="font-style: italic") Logo Design, Business Cards, Website Design
					p
						| JRH is a Civil Engineering company based in the UK. Their focus is on groundworks, maintenance
						| and gardening. For there website I used a consistent flow of blue similar to their previous recognised
						| brand colour. The design uses little amounts of colour, and visual imagery seems to take dominance over
						| text, JRH wanted a website which would give them the ability to advertise what their business is online.
						| My design segments each individual service into seperate pages, with overviews on the main menu, this
						| idea helps to allow the end user to choose whether they want a quick overview of the services they provide
						| and can have the ability to look in more detail into specific services.
						br
						br
						| I designed two variations of a new logo as well as a double-sided business card. The variations differentiate
						| a lot, the first version uses a modern serif font with a spade which resembles groundworks, a major part of the
						| companies services. The second variations takes a more simplistic approach, using a block-serif font which
						| shows a more ever-lasting figure with a 90% border outside. The business cards again consist of blue, with the
						| mostly using white. The back-side displays all possible services with JRH as well as some extra information and
						| contact information.

			.row.content2
				.col-md-6.image1
					img(src="assets/img/jrh/front.png")
				.col-md-6.image2
					img(src="assets/img/jrh/back.png")

			.website
				img(src="assets/img/jrh/website.jpg")

		.mockups
			img(src="assets/img/jrh/mockup1.jpg")

		.endItem-wrapper
			.endItem-container
				h4 END
				p Thanks for reading!
				.portfolioClose
					img(src="assets/img/close.png" onclick="$('#menu-portfolio').animatescroll({scrollSpeed:0}); $('#test').addClass('current')")